* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-bg-color: #fff;
    --font-color-primary: #222222;
    --font-color-secondary: #afafaf;
    --font-family: serif;
    --searchbar-bg-color: #dedede;
    --theme-color-primary: #7b32a8;
    --theme-color-secondary: #7b32a83f;
}

.dark {
    --body-bg-color: #222222;
    --font-color-primary: #ffffffd3;
    --font-color-secondary: #6e6e6e;
    --searchbar-bg-color: #707070;
}

body {
    min-height: 100vh;
    margin: 0 16rem;
    background-color: var(--body-bg-color);
    color: var(--font-color-primary) !important;
    font-family: var(--font-family) !important;
}

nav {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

select,
input {
    color: var(--font-color-primary) !important;
}

select {
    border: none;
    width: max-content;
    font-size: 1.2rem;
    position: relative;
    background-color: var(--body-bg-color) !important;
}

select:focus {
    border: none;
    outline: none;
}
.dropdown-container {
    width: 70px;
    overflow: hidden;
    position: relative;
}
.dropdown-container:after {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--theme-color-primary) !important;
    position: absolute;
    top: 40%;
    right: 5px;
    content: "";
    z-index: 100;
}
.dropdown-container select {
    width: 150px;
    border: 0;
    position: relative;
    z-index: 99;
    background: none;
}

.navbar-right {
    display: flex;
    gap: 2rem;
}

.nav-item-divider {
    width: 1px;
    height: 100%;
    background-color: #afafaf;
}


.form-check-input:checked {
    background-color: var(--theme-color-primary);
    border-color: var(--theme-color-primary);
}

.search-bar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    background-color: var(--searchbar-bg-color) !important;
}

.playButton {
    display: none;
}

.search-bar {
    width: 90%;
    border: none;
    background-color: transparent;
    font-style: bold !important;
    font-size: 1.4rem;
    font-weight: 900;
    color: var(--font-color-primary) !important;
    caret-color: (var(--font-color-primary));
}

.search-bar:focus {
    outline: none;
    border: none;
}

.search-btn {
    border: none;
    background-color: transparent;
    color: var(--theme-color-primary);
}

.heading {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading h1 {
    font-size: 4.5rem;
    font-weight: 900;
}

.heading h2 {
    color: var(--theme-color-primary);
    font-size: 1.8rem;
}

.heading button {
    border: none;
    width: max-content;
    background-color: var(--theme-color-secondary);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.heading button i {
    color: var(--theme-color-primary);
    transform: translateX(10%);
}

.content-segment-container {
    margin: 2rem 0 3rem 0;
}

.section-title {
    font-style: italic;
    font-size: 1.8rem;
    font-weight: 600;
    width: min-content;
    white-space: nowrap;
}

.example, .section-subheading, .synonyms {
    color: #737373;
}

.section-subheading, .synonyms {
    margin-top: 2rem;
    font-size: 1.5rem;
}

.synonym-value {
    font-weight: 600;
    color: var(--theme-color-primary);
}

.content-segment-container ul li {
    font-size: 1.3rem;
    color: var(--font-color-primary) !important;
}

li::marker {
    color: var(--theme-color-primary);
}

.content-segment-container ul li span {
    color: var(--font-color-primary);
}

.section-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    white-space: nowrap;
}

.section-divider, .bottom-divider {
    background-color: var(--font-color-secondary);
    height: 1px;
    width: 100%;
}


.source a:first-child {
    margin-left: 1rem;
    font-family: var(--font-family);
    color: var(--font-color-primary);
}

.source a i{
    color: var(--font-color-primary);
    transform: translateY(-0.8%) scale(0.8);
    
}
